<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ก่อนอื่นให้เคลื่อนที่ไปยังช่องที่คุณต้องการให้ตัวละครของคุณหันขวา แล้วใช้ชุดคำสั่งที่มีอยู่ทำให้ตัวละครของคุณหันไปยังทิศทางนั้น</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ถ้าคุณหันซ้ายในจำนวนที่มากพอ คุณก็จะกลับหลังหันในที่สุด</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
