<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Verzamel de edelsteen en verplaats Byte vervolgens naar de schakelaar (de tegel boven aan de tweede trap, dichtbij het centrum van de wereld). Zet de schakelaar vervolgens om met het commando `toggleSwitch()`.

(toggleSwitch = zet schakelaar om)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
