<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>No lo olvides: si el personaje se encuentra en una gema, utiliza `collectGem()`; si el personaje está en un interruptor desactivado, utiliza `toggleSwitch()`.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
