<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Qualsiasi casella nel quadrato può avere una gemma, un interruttore attivo o un interruttore non attivo. Per iniziare, scrivi una funzione chiamata `checkTile()` (verifica casella) per verificare tutte le possibilità esistenti di una casella.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
