<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Först måste du definiera funktionen `turnLock` så att den använder [parametern](glossary://parameter) `up` till att meddela experten åt vilket håll låset ska vridas. Använd sedan `numberOfTimes` till att ange hur många gånger låset ska vridas.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
