<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>먼저, `greenPortal`의 `isActive` [속성](glossary://property)을 `false`로 설정해야 합니다. 그렇지 않으면 스위치에 도달할 때마다 캐릭터가 텔레포트될 겁니다.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
