<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Fancy Shapes</string>
	<key>Pages</key>
	<array>
		<string>Page1.cutscenepage</string>
		<string>Page2.playgroundpage</string>
		<string>Page3.playgroundpage</string>
		<string>Page4.playgroundpage</string>
		<string>Page5.cutscenepage</string>
		<string>Page6.playgroundpage</string>
		<string>Page7.playgroundpage</string>
		<string>Page8.cutscenepage</string>
		<string>Page9.playgroundpage</string>
		<string>Page10.cutscenepage</string>
		<string>Page11.playgroundpage</string>
		<string>Page12.cutscenepage</string>
		<string>Page13.playgroundpage</string>
		<string>Page14.playgroundpage</string>
		<string>Page15.playgroundpage</string>
		<string>Page16.cutscenepage</string>
		<string>Page17.playgroundpage</string>
		<string>Page18.playgroundpage</string>
		<string>Page19.playgroundpage</string>
		<string>Page20.playgroundpage</string>
		<string>Page21.playgroundpage</string>
	</array>
</dict>
</plist>
