<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ลองให้บล็อก `else` ของคุณมีลักษณะเดิมโดยไม่มีการเปลี่ยนคำสั่ง `moveForward()` ดูสิ แต่ให้คุณแก้ไขคำสั่งภายในบล็อก `if` ของคุณแทน.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
