<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Gebruik eerst [pseudocode](glossary://pseudocode) om een schema te maken van de manier waarop je het portaal wilt gaan activeren en deactiveren. Schrijf de code vervolgens uit en test deze.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
