<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Probeer je `else`-blok en het `moveForward()`-commando niet te wijzigen. Wijzig in plaats daarvan de commando's in je `if`-blok.

(moveForward = ga vooruit).
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
