<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>`gemCounter` 값이 `switchCounter` 값과 일치할 때까지 계속해서 보석을 수집합니다.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
