<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Börja med att flytta till den första rutan och använd ett `if`-uttryck till att kontrollera om figuren står på ett stängt reglage.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
