<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>首先，將 `solveStair()` 函數定義為走上階梯、收集寶石、向後轉，然後走回中央位置。
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
