<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Først må du definere `turnLock`-funksjonen, slik at den bruker `up`-[parameteren](glossary://parameter) til å fortelle eksperten hvilken retning låsen skal vris rundt. Bruk deretter `numberOfTimes` til å angi hvor mange ganger låsen skal vris rundt.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
