<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Je moet nu twee variabelen beheren: één voor het bijhouden van edelstenen en één voor het bijhouden van geactiveerde schakelaars.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
