<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Begynn med å legge til et `if`-uttrykk for å kontrollere om figuren står på en stein. Velg deretter `&amp;&amp;` i snarveilinjen for å legge til en betingelse som undersøker om figuren er blokkert på venstre side.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
