<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>퍼즐 세상을 살펴보고 보석이 있는 곳까지 도달하는 데 필요한 명령을 최소화한 해결 방법을 찾아보세요.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
