<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Begynn med å definere funksjonen `solveStair()` for å gå opp en trapp, hente en stein, snu og gå tilbake til midten.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
