<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>En primer lugar, teletransporta al personaje a través del portal azul para que llegue a las gemas del portal que está al otro lado. Es posible que tengas que desactivar el portal azul para recoger ambas gemas.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
