<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Vergeet niet om `collectGem()` te gebruiken als je figuurtje op een edelsteen staat en om `toggleSwitch()` te gebruiken als je figuurtje op een gedeactiveerde schakelaar staat.

(collectGem = verzamel edelsteen, toggleSwitch = zet schakelaar om)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
