<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Om de edelsteen te bereiken, moet Byte twee tegels naar voren worden verplaatst, naar links draaien en weer twee tegels naar voren worden verplaatst.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
