<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ก่อนอื่นให้เคลื่อนย้ายตัวละครของคุณผ่านประตูสีน้ำเงินเพื่อไปถึงเพชรที่อยู่ประตูฝั่งตรงข้าม คุณอาจต้องปิดการใช้งานประตูสีน้ำเงินเพื่อเก็บเพชรทั้งสองเม็ด</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
