<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ถ้าคุณอยู่ในทางตรงกลาง เมื่อไหร่ก็ตามที่คุณไปถึงเพชร บันไดจะนำไปสู่ทางด้านขวา เมื่อใดก็ตามที่คุณไปถึงสวิตช์ที่ปิดอยู่ จะมีเพชรอีกเม็ดอยู่ด้านซ้าย</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
