<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Begynn med å teleportere figuren gjennom den blå portalen for å få tak i steinene ved den motsatte portalen. Det kan hende du må deaktivere den blå portalen for å få tak i begge steinene.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
