<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Je [functie](glossary://function) moet ervoor zorgen dat je figuurtje eerst een edelsteen verzamelt, dan naar voren gaat en daarna een schakelaar omzet.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
