<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Gebruik de functie `collectGemTurnAround()` samen met andere commando's om de functie `solveRow()` te definiëren.

(collectGemTurnAround = verzamel edelsteen en draai om, solveRow = oplossing voor rij)
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
