<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Du måste köra koden medan värdet för `gemCounter` är mindre än 7. Du måste använda [jämförelseoperatorn](glossary://comparison%20operator) `&lt;` för att skriva villkoret i `while`-loopen.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
