<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Execute o código para ver onde o Byte comete o primeiro erro. É assim que você vai descobrir qual é a primeira linha de código que precisa ser mudada.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
