<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ก่อนอื่นคุณจะต้องกำหนดฟังก์ชั่น `turnLock` เพื่อให้ฟังก์ชั่นนั้นใช้[พารามิเตอร์](glossary://parameter) `up` ในการสั่งผู้เชี่ยวชาญให้หมุนล็อกไปยังทิศทางต่างๆ จากนั้นใช้ `numberOfTimes` ในการตั้งค่าจำนวนครั้งที่จะหมุนล็อก</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
