<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>[Deklarera](glossary://declaration) en [variabel](glossary://variable) som håller koll på hur många stenar din figur hämtar och jämför det med [konstanten](glossary://constant) `totalGems` för att avgöra när det är dags att sluta.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
