<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Per iniziare, [definisci](glossary://define) la funzione `move` (avanza). Scrivi un ciclo `for` nella funzione, che utilizzi il valore di `distance` per determinare il numero di cicli da eseguire.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
