<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Tenk på mønstrene for plassering av brytere. Hvordan kan du bruke mønstrene til å skrive funksjoner for å løse små problemer, og deretter kombinere dem for å løse det store problemet?</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
