<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Neem even de tijd om het raadsel te bekijken en te bepalen welke van de vaardigheden die je tot nu hebt geleerd het meest geschikt zijn voor het oplossen van dit probleem. Er zijn veel verschillende oplossingen, dus probeer een van je ideeën eens uit!</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
