<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>先查看關卡，第一眼可能比較難看出模式。建立迴圈前，先嘗試解決關卡的其中一部分。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
