<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Når du kommer til en stein langs den midterste veien, går det en trapp ned til høyre. Når du kommer til en lukket bryter, er det en annen stein til venstre.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
