<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Lembre-se: você precisa ir para o local de cada controle e verificar seu estado. Se estiver fechado, acione-o para abrir.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
