<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Mücevheri topla, sonra Byte’ı düğmeye (dünyanın merkezine yakın ikinci merdivenin en üstündeki karo) taşı. Ardından `toggleSwitch()` komutunu kullanarak düğmenin durumunu değiştir.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
