<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ก่อนอื่นให้ใช้[ซูโดโค้ด](glossary://pseudocode)เพื่อวางแผนวิธีที่คุณจะเปิดใช้งานและปิดใช้งานประตูเพื่อไขปริศนา จากนั้นให้เขียนแล้วทดสอบโค้ดนั้น</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
