<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>O seu personagem deve coletar todas as joias do mundo e você precisa controlar quantas foram coletadas. Para cada joia coletada, incremente `gemCounter` em um.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
