<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Zunächst musst du den Experten [initialisieren](glossary://initialization); dazu musst du einer [Instanz](glossary://instance) von `expert` den Typ `Expert` [zuweisen](glossary://assignment).</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
