<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Hent steinen, og flytt deretter Byte til bryteren (ruten øverst i den andre trappen, nær midten av verdenen). Bruk deretter kommandoen `toggleSwitch()` for å veksle bryteren.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
