<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ก่อนที่คุณจะสามารถแก้ปริศนานี้ได้ คุณต้องวางผู้เชี่ยวชาญของคุณลงไปในโลกปริศนานี้ก่อน [สร้างค่าเริ่มต้น](glossary://initialization)ของชื่อแทนประเภทของประเภท `Expert` แล้วบอกกับโลกปริศนาว่าตำแหน่งที่คุณต้องการวางชื่อแทนประเภทนั้นอยู่ตรงไหน</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
