<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>[Dichiara](glossary://declaration) una [variabile](glossary://variable) per tenere traccia del numero di gemme raccolte e confrontarlo con la [costante](glossary://constant) `totalGems` (gemme totali) per sapere quando è il momento di fermarsi.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
