<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Primeiro, adicione uma instrução `if` que verifica se o personagem está junto de uma joia. Em seguida, selecione `&amp;&amp;` na barra de atalhos para adicionar uma condição que verifica se o personagem está bloqueado à esquerda.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
