<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>首先，使用[虛擬碼](glossary://pseudocode)來設計如何打開和關閉傳送門來通關的方案。然後編寫程式碼並進行測試。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
