<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>이전 과제와 마찬가지로 보석을 수집할 때마다 `gemCounter` 변수의 값을 업데이트해야 합니다.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
