<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Elke tegel in het vierkant kan een edelsteen, een geactiveerde schakelaar of een gedeactiveerde schakelaar bevatten. Schrijf eerst een functie `checkTile()` om een tegel te controleren op elke mogelijkheid.

(checkTile = controleer tegel)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
