<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Tómate un minuto para examinar el rompecabezas y decidir cuál de las habilidades aprendidas hasta ahora te resultará más útil en su resolución. Hay muchas soluciones posibles, así que prueba lo que se te ocurra.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
