<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ตัวละครของคุณควรเก็บเพชรทั้งหมดในโลกปริศนาและคุณควรตรวจดูว่าตอนนี้เก็บเพชรไปได้มากแค่ไหนแล้ว เมื่อคุณเก็บเพชรได้หนึ่งเม็ด ตัวเลขของ `gemCounter` จะเพิ่มขึ้นอีกหนึ่ง</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
