<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>อย่าลืมว่าคุณต้องเคลื่อนที่ไปที่ตำแหน่งสวิตช์แต่ละตำแหน่ง แล้วตรวจสอบว่าสวิตช์สลับเปิดปิดอย่างไร ถ้าสวิตช์ปิดอยู่ ให้สลับเปิดสวิตช์นั้น</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
