<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Dit level bevat drie grote trappen. Gebruik voor elke trap een functie die ervoor zorgt dat je figuurtje de trap oploopt, de schakelaar omzet en weer naar beneden loopt.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
