<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Piensa en los patrones de colocación de los interruptores. ¿Cómo podrías utilizar los patrones para escribir funciones que resuelvan pequeños problemas y combinarlas para resolver un problema mayor?</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
