<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>เก็บเพชร แล้วพา Byte ไปที่สวิตช์ (ช่องด้านบนสุดของบันไดจุดที่สอง ใกล้กับจุดศูนย์กลางของโลก) จากนั้นสลับเปิดปิดสวิตช์โดยใช้คำสั่ง `toggleSwitch()`</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
