<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Probeer [pseudocode](glossary://pseudocode) te gebruiken om een schema te maken van de manier waarop je dit raadsel wilt oplossen. Bedenk welke vaardigheden je kunt gebruiken en zoek naar een beginpunt. Nadat je een strategie hebt bepaald, kun je beginnen met het schrijven en testen van je code.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
