<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Per iniziare, devi impostare la [proprietà](glossary://property) `isActive` (è attivo) di `greenPortal` (portale verde) su `false`. Altrimenti, ogni volta che cercherà di raggiungere un interruttore, il tuo personaggio verrà teletrasportato.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
